<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ... -->
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .container {
        width: 80%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }
      h1 {
        color: #333;
      }
      form {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
      }
      input, button {
        margin-bottom: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
      }
      button {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
      }
      button:hover {
        background-color: #45a049;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <% if (locals.id) { %>
        <p>URL Generated: <a href="https://yashaar.onrender.com/url/<%= id %>">https://yashaar.onrender.com/url/<%= id %></a></p>
      <% } %>
    
      <form method="POST" action="/url">
        <input type="text" name="url" placeholder="Enter Your Original URL" />
        <button type="submit">Generate</button>
      </form>

      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
